@model IEnumerable<futshop_dweb.Models.Transacao_Artigo>

@{
    ViewData["Title"] = "Index";
    Layout = "IndexUsers";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtigoFK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transacao.CompraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtigoFK)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
