@model List<DW_Final_Project.Models.Carrinho>

@{
    ViewData["Title"] = "Carrinho";
}

<h2>Carrinho de compras</h2>

@if (Model == null || !Model.Any())
{
    <p>O teu carrinho está vazio.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Tamanho</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.Artigo.ImagemURL" alt="@item.Artigo.Nome" width="50" height="50" />
                    </td>
                    <td>@item.Artigo.Nome</td>
                    <td>@item.Artigo.Descricao</td>
                    <td>@item.Artigo.Categoria.Nome</td>
                    <td>@item.Artigo.Tamanho</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Artigo.Preco</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@Url.Action("IndexUsers", "Artigos")" class="btn btn-primary">Continuar compra</a>
