@using futshop_dweb.Data
@model List<DW_Final_Project.Models.Carrinho>

@{
    ViewData["Title"] = "Carrinho";
}

<h2>Carrinho de compras</h2>
@{
    @inject IUserService UserService
    if(UserService.finishedOrder)
    {
        <div class="alert alert-success" role="alert">
            Compra realizada com sucesso. Obrigado pela sua encomenda!
        </div>
        UserService.resetFinishedOrder();
    }else if (UserService.noItems)
    {
        <div class="alert alert-danger" role="alert">
            O teu carrinho está vazio. Não podes finalizar a compra.
        </div>
    }
}
@if (Model == null || !Model.Any())
{
    <p>O teu carrinho está vazio.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Tamanho</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Remover do carrinho</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.Artigo.ImagemURL" alt="@item.Artigo.Nome" width="50" height="50" />
                    </td>
                    <td>@item.Artigo.Nome</td>
                    <td>@item.Artigo.Descricao</td>
                    <td>@item.Artigo.Categoria.Nome</td>
                    <td>@item.Artigo.Tamanho</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Artigo.Preco</td>
                    <td>
                        <form asp-action="rmCart" asp-route-id="@item.Artigo.Id" method="post">
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@Url.Action("IndexUsers", "Artigos")" class="btn btn-primary">Continuar compra</a>

<a href="@Url.Action("FinalizarCompra", "Transacaos")" class="btn btn-primary">Finalizar Compra</a>
