@model IEnumerable<futshop_dweb.Models.Transacao_Artigo>

@{
    ViewData["Title"] = "Transações nº " + Model.First().TransacaoFK;
}

<h1>Transações por Utilizador</h1>

<table class="table">
    <thead>
        <tr>

            <th>Transacao</th>
            <th>Artigo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TransacaoFK)</td>
                <td>@Html.DisplayFor(modelItem => item.Artigo.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Artigo.Preco)</td>
                <td>@Html.DisplayFor(modelItem => item.Artigo.Quantidade)</td>
                
            </tr>
            
        }
    </tbody>
    <p>Total: @Model.First().Transacao.Total</p>
    <p> Data de Compra: @Model.First().Transacao.DataCompra</p>
</table>
<div class="text-center">
    <a asp-action="TransacoesPorUtilizador" asp-route-id="@ViewBag.UtilizadorId">Voltar</a>
</div>
