@model IEnumerable<futshop_dweb.Models.Transacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Histórico de transações</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">Não existem transações</td>
    </tr>
}
else
{
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizador.Cidade)
                </td>
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@item.CompraId">Edit</a> | -->
                        <a asp-action="Details" asp-route-id="@item.CompraId" class="btn btn-info">Detalhes</a> 
                    <!-- <a asp-action="Delete" asp-route-id="@item.CompraId">Delete</a> -->
                </td>
            </tr>
    }
}
    </tbody>
</table>
<div class="text-center">
    <a asp-action="Details" asp-controller="Utilizadors" asp-route-id="@ViewBag.UtilizadorId" class="btn btn-primary">Voltar</a>
</div>